* {
    margin: 0;
    padding: 0;
}

body {
    color: #f7fff7;
}

.main-one {
    padding: 11%;
    color: white;
    background: url("../img/duotone\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-text>.judul {
    width: 450px;
    text-transform: capitalize;
    margin: 30px 0 0px 0;
}

.main-text>p {
    margin: 20px 0 0 0;
}

.login-main {
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #05eefff5;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.226);
    padding: 8px 35px;
}
.card-group img {
    object-fit: contain;
    height: 350px;

}
.main-all {
    margin: auto;
    max-width: 1100px;
}

.button-all {
    margin: 3% 0;
}

.button-all>.button-1 {
    border: none;
    margin: 0px 0px 30px 0;
    text-transform: capitalize;
    color: rgb(58, 56, 56);
    background-color: #ffe66d;
    padding: 7px 50px;
}

.button-2 {
    border: none;
    color: white;
    background-color: #ff6b6b;
    padding: 7px 50px;
}

.main-two {
   background: url('../img/Untitled-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.article-all {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1300px;
}

.article-item {
    padding: 30px;
    margin: auto;
}

.img-two {
    margin: auto;
    justify-content: center;
    width: 650px;
}

.main-three {
    color: black;
}

.main-three .judul {
    padding: 30px 0;
    text-align: center;
}

.main-three hr {
    margin: 1.3% auto;
    border: 2px solid blue;
    width: 100px;
}

.Item-brand {
    display: grid;
    grid-template-rows: 50% 50%;
    margin: auto;
    max-width: 1200px;
}
.Item-brand .card-group{
    margin-bottom:  30px;
}

.Item-brand .card {
    display: flex;
    margin: auto;
}

.Item-brand .brand {
    max-height: 350px;
    object-fit: cover;
    width: 100%;
}

.main-four {
    background: url("../img/Untitled-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-four .article-all {
    display: grid;
    grid-template-columns: 50% 50%;
}

.img-four {
    margin-left: 100px;
    width: 220px;
}

footer {
    padding: 5% 0;
    background-color: rgba(0, 0, 0, 0.945);
    color: rgb(255, 255, 255);
}

.all-footer {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
}

.all-footer>.item-footer {
    list-style: none;
}