*{
    margin: 0;
    padding: 0;
}
body{
    color: black;
    background-color: rgb(255, 255, 255);
}

.form-all{
    margin: auto;
    max-width: 1350px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.form-main-1{
    width:500px;
    margin: auto;
    padding: 25% 0;
}
.btn{
    color: white;
    background-color: rgb(62, 48, 255);
}
.form{
    padding: 5%;
    box-shadow: 0 0 20px rgba(56, 56, 56, 0.116);
}
.about-login{
    text-align: center;
    width: 100%;
    display: block;
    align-items: center;
    padding: 0 5%;
    color: white;
    background: linear-gradient(to left ,rgb(62, 48, 255),rgb(55, 0, 255));
}
.about-login img{
    margin: auto;
    width: 500px;
}
.login-main {
    border: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 8px 35px;
}
.login-main:hover{
    border: 1px solid white;
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 8px 35px;
}
.login-main a {
    text-decoration: none;
    color: white;
}
.sign-main a {
    text-decoration: none;
    color: white;
}
.sign-main {
    border: none;
    background-color: #2e0acff5;
    color: rgb(255, 255, 255);
    padding: 8px 35px;
}
.sign-main:hover{
    border: 1px solid #fffffff5;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 8px 35px;
}
footer {
    padding: 5% 0;
    background-color: rgba(0, 0, 0, 0.945);
    color: rgb(255, 255, 255);
}

.all-footer {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
}

.all-footer>.item-footer {
    list-style: none;
}
.item-footer .one {
    justify-content: center;
    text-align: center;
}

